{% extends "bootstrap/base.html" %}

{% block title %}Avaliação Contínua{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Avaliação contínua: <strong>Aula 040</strong></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/user/Thiago%20Barbosa/PT3035999/IFSP-Pirituba">Identificação</a></li>
                <li><a href="/contextorequisicao/Thiago%20Barbosa">Contexto da requisição</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}