{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header" style="border-bottom: 1px solid #eee; margin-top: 20px; padding-bottom: 15px;">
    <h1>
        Olá, {% if name %}{{ name }}{% else %}Stranger{% endif %}!
    </h1>
    <p>Prazer em conhecê-lo!</p>
</div>

<div>
    {{ wtf.quick_form(form) }}
</div>

<div style="margin-top: 40px;">
    <h2>Relação de usuários cadastrados</h2>
    <p>Quantidade: {{ users|length }}</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nome do usuário</th>
                <th>Função</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.username }}</td>
                <td>{{ u.role.name if u.role else 'None' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="margin-top: 40px; margin-bottom: 40px;">
    <h2>Relação de funções cadastradas</h2>
    <p>Quantidade: {{ roles|length }}</p>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Funções</th>
                <th>Usuários</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>
                    <ol style="margin-bottom: 0; padding-left: 20px;">
                        {% for user in role.users %}
                            <li>{{ user.username }}</li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}