{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header" style="border-bottom: 1px solid #eee; margin-top: 20px; padding-bottom: 15px;">
    <h1>
        Olá, {% if session.get('name') %}{{ session.get('name') }} {{ session.get('surname', '') }}{% else %}Estranho{% endif %}!
    </h1>
    <h2>A sua Insituição de ensino é {% if session.get('institution') %}{{ session.get('institution') }}{% else %}None{% endif %}</h2>
    <h2>Está cursando a disciplina de {% if session.get('discipline') %}{{ session.get('discipline') }}{% endif %}</h2>
    <br>
    <p>O IP do computador remoto é: {% if remote_ip %}{{ remote_ip }}{% else %}None{% endif %}</p>
    <p>O host da aplicação é: {% if host %}{{ host }}{% else %}None{% endif %}</p>
</div>

<div>
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}